.user_dropdown {
  position: absolute;
  z-index: 9999;
  width: 100vw;
  bottom: 70px;
  left: 0;
}
.user_dropdown_item {
  background-color: #FFFFFF;
  border: 2px #000000 solid;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  display: flex;
  width: 100%;
  gap: 10px;
}

@media (min-width: 640px) {
  .user_dropdown {
    right: 10px;
    left: auto;
    top: 70px;
    width: 10vw;
  }
  .user_dropdown_item {
    border-radius: 8px;
  }
}